{% extends 'layouts/default.html.twig' %}

{% block main %}
  <div class="the-page">
    <form id="consoleForm">
        <p>
          Welcome to ChesslaBlab, open-source chess lab<br>
          PHP Chess version: 1.4.72
        </p>
        <p>
          For details go to: <a href="https://chesslablab.github.io/chess-server/" target="_blank">https://chesslablab.github.io/chess-server/</a>
        </p>
        <textarea name="command" rows="5"></textarea>
    </form>
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/console/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
