{% extends 'layouts/default.html.twig' %}

{% block main %}
  <div class="the-page">
    <h1>About</h1>
    <h2>
      ChesslaBlab is an open-source organization
    </h2>
    <hr class="hr">
    <h3>Manifesto</h3>
    <p>We believe:</p>
    <ul>
      <li>Anyone, regardless of age, race, gender or social background should have access to easy-to-use, safe and decentralized chess sites and be able to choose which one to use.</li>
      <li>Chess is a sport, a science, and an art.</li>
      <li>Players should have more control over their own online activity.</li>
      <li>Chess can help you improve your cognitive abilities which is a good think.</li>
      <li>Anyone can learn to think more scientifically.</li>
    </ul>
    <p>
      These goals can be achieved with open-source software. ChesslaBlab stands for chess laboratory and its repositories can be used and extended to create amazing chess web apps.
    </p>
    <p>
      Happy coding!
    </p>
    <div class="container">
      <div class="row">
        <div class="col-md-6 g-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">PHP Chess</h5>
              <p class="card-text">
                A chess library for PHP.
              </p>
              <a href="https://php-chess.chesslablab.org" target="_blank" class="btn btn-primary btn-sm">
                <i class="bi bi-book-fill"></i> Read the Docs
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 g-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">PHP Chess Server</h5>
              <p class="card-text">
                Asynchronous PHP chess server.
              </p>
              <a href="https://chesslablab.github.io/chess-server/" target="_blank" class="btn btn-primary btn-sm">
                <i class="bi bi-book-fill"></i> Read the Docs
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 g-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Chess Data</h5>
              <p class="card-text">
                MySQL chess database CLI tools.
              </p>
              <a href="https://chesslablab.github.io/chess-data/" target="_blank" class="btn btn-primary btn-sm">
                <i class="bi bi-book-fill"></i> Read the Docs
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 g-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Website</h5>
              <p class="card-text">
                Website intended to learn and play chess online.
              </p>
              <a href="https://github.com/chesslablab/website" target="_blank" class="btn btn-primary btn-sm">
                <i class="bi bi-github"></i> View on GitHub
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 g-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">JS Utils</h5>
              <p class="card-text">
                A JavaScript module library of chess components and utilities.
              </p>
              <a href="https://github.com/chesslablab/js-utils" target="_blank" class="btn btn-primary btn-sm">
                <i class="bi bi-github"></i> View on GitHub
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
