{% extends 'layout/san.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-6">
    {% include 'pages/database/search_games_modal.html.twig' %}
    {% include 'partial/panel/san_panel.html.twig' %}
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/database/search_games/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
