{% extends 'layout/san.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-4">
    {% include 'pages/database/top_openings_modal.html.twig' %}
    {% include 'partial/panel/san.html.twig' %}
  </div>
  <div class="col-md-2">
    {% include 'partial/logos.html.twig' %}
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/database/top_openings/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
