<div class="modal fade" id="heuristicsModal" tabindex="-1" aria-labelledby="heuristicsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="heuristicsModalLabel">Heuristic Charts</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <p>
            A chess game can be plotted in terms of balance. +1 is the best
            possible evaluation for White and -1 the best possible evaluation for
            Black. Both forces being set to 0 means they're balanced.
          </p>
          <div id="charts"></div>
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
        </form>
      </div>
    </div>
  </div>
</div>
