<div class="modal fade" id="chessboardFenStringModal" tabindex="-1" aria-labelledby="chessboardFenStringModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chessboardFenStringModalLabel">FEN String</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label">Variant</label>
            <select name="variant" class="form-select" aria-label="Select a variant" required>
              <option value="">Select a variant</option>
              <option value="classical">Classical</option>
              <option value="960">Fischer Random</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">From FEN</label>
            <input type="text" name="fen" placeholder="Enter FEN" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Load</button>
        </form>
      </div>
    </div>
  </div>
</div>
