{% extends 'layout/content.html.twig' %}

{% block main %}
  <div class="container p-4 text-light">
    <h1>About</h1>
    <p class="lead">
      <a href="https://github.com/chesslablab" target="_blank" class="link-light link-underline-opacity-0 fw-bold">ChesslaBlab</a> is an open-source organization creating decentralized chess software.
    </p>
    <hr class="hr">
    <h3>Manifesto</h3>
    <p>We believe:</p>
    <ul>
      <li>Anyone, regardless of age, race, gender or social background should have access to easy-to-use, safe and decentralized chess sites and be free to choose which one to use.</li>
      <li>Chess can help you improve your cognitive abilities which is a good think.</li>
      <li>Players should have more control over their own online activity.</li>
      <li>Anyone can learn to think more scientifically.</li>
      <li>Chess is a sport, a science, and an art.</li>
      <li>It is a human right to be allowed to develop a thinking, scientific mindset.</li>
    </ul>
    <p>
      These goals can be achieved with open-source software. ChesslaBlab stands for chess laboratory and its repositories can be used and extended to create amazing chess web apps.
    </p>
    <p>
      Happy coding!
    </p>
    <div class="container">
      <div class="row">
        <div class="col-md-6 g-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">PHP Chess</h5>
              <p class="card-text">
                Object-oriented library that allows to create chess apps out-of-the-box.
              </p>
              <a href="https://php-chess.docs.chesslablab.org/" target="_blank" class="btn btn-primary btn-sm">
                {% include 'svg/book-fill.svg' %} Read the Docs
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 g-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">PHP Chess Server</h5>
              <p class="card-text">
                Asynchronous PHP server using the PHP Chess library.
              </p>
              <a href="https://chess-server.docs.chesslablab.org/" target="_blank" class="btn btn-primary btn-sm">
                {% include 'svg/book-fill.svg' %} Read the Docs
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 g-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">PHP Chess API</h5>
              <p class="card-text">
                REST-like API using the PHP Chess library, based on Symfony components.
              </p>
              <a href="https://chess-api.docs.chesslablab.org/" target="_blank" class="btn btn-primary btn-sm">
                {% include 'svg/book-fill.svg' %} Read the Docs
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 g-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Chess Data</h5>
              <p class="card-text">
                MySQL chess database CLI tools and machine learning with Rubix ML.
              </p>
              <a href="https://chess-data.docs.chesslablab.org/" target="_blank" class="btn btn-primary btn-sm">
                {% include 'svg/book-fill.svg' %} Read the Docs
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 g-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Website</h5>
              <p class="card-text">
                Website intended to learn and play chess online.
              </p>
              <a href="https://github.com/chesslablab/website" target="_blank" class="btn btn-primary btn-sm">
                {% include 'svg/github.svg' %} View on GitHub
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 g-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">JsBlab</h5>
              <p class="card-text">
                A JavaScript module library of chess components and utilities.
              </p>
              <a href="https://github.com/chesslablab/jsblab" target="_blank" class="btn btn-primary btn-sm">
                {% include 'svg/github.svg' %} View on GitHub
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
