{% extends 'layout/content.html.twig' %}

{% block main %}
  <div class="container p-4">
    <h1 class="h3">{{ 'Clubs'|trans }}</h1>
    <p class="lead">
      Find a club and engage with chess players over the Internet.
    </p>
    <hr class="hr">
    <div class="table-responsive">
      <table id="clubsTable" class="table mb-3">
        <thead>
          <tr>
            <th scope="col">Platform</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Matrix
            </td>
            <td>
              Chess Players
            </td>
            <td>
              Let's play chess with other players in a decentralized way.
            </td>
            <td>
              <a class="btn btn-primary" href="https://matrix.to/#/#chesslablab-chess-players:matrix.org" target="_blank" role="button">Join</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a class="btn btn-primary" href="{{ path('pages_support', {_locale:'en'}) }}" role="button">Add your room</a>
  </div>
{% endblock %}
