{% extends 'layout/content.html.twig' %}

{% block main %}
  <div class="container p-4">
    <h1 class="h3">{{ 'Clubs'|trans }}</h1>
    <p class="lead">
      Find a ChesslaBlab club willing to play chess, and engage with others!
    </p>
    <hr class="hr">
    <div class="table-responsive">
      <table id="clubsTable" class="table mb-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Room</th>
            <th scope="col">Description</th>
            <th scope="col">Room</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              Starting Lounge
            </td>
            <td>
              This is ChesslaBlab's public room about open source and chess. We
              aim to be welcoming to all who would want to join us, provided
              our <a href="https://github.com/chesslablab/website/blob/main/CODE_OF_CONDUCT.md" target="_blank">Covenant Code of Conduct</a>.
            </td>
            <td>
              #starting-chesslablab:matrix.org
            </td>
            <td>
              <a class="btn btn-primary" href="https://matrix.to/#/#starting-chesslablab:matrix.org" target="_blank" role="button">Join</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a class="btn btn-primary" href="{{ path('pages_support', {_locale:'en'}) }}" role="button">Add your room</a>
  </div>
{% endblock %}
