{% extends 'layout/content.html.twig' %}

{% block main %}
  <div class="container p-4">
    <h1 class="h3">{{ 'Players'|trans }}</h1>
    <p class="lead">
      Listed below are the Matrix user IDs (MXID) of ChesslaBlab players willing to play with others.
    </p>
    <hr class="hr">
    <div class="table-responsive">
      <table id="clubsTable" class="table mb-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Display Name</th>
            <th scope="col">MXID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              programarivm
            </td>
            <td>
              @programarivm:matrix.org
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a class="btn btn-primary" href="{{ path('pages_support') }}" role="button">Add your MXID to the list</a>
  </div>
{% endblock %}
