<div class="modal fade" id="openingsNameModal" tabindex="-1" aria-labelledby="openingsNameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openingsNameModalLabel">Name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input type="text" name="name" placeholder="Name" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-secondary w-100">Search</button>
          <table class="table table-light table-hover">
            <tbody></tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
