<div class="modal fade" id="openingsSanMovetextModal" tabindex="-1" aria-labelledby="openingsSanMovetextModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openingsSanMovetextModalLabel">SAN Movetext</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form data-redirect="{{path('openings_index')}}">
          <div class="mb-3">
            <input type="text" name="movetext" placeholder="Movetext" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Search</button>
          <table class="table table-light table-hover">
            <tbody></tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
