<div class="modal fade" id="openingsTopModal" tabindex="-1" aria-labelledby="openingsTopModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openingsTopModalLabel">{{ 'Top Openings'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-light d-flex align-items-center" role="alert">
          {% include 'svg/info-circle-fill.svg' %}
          <div>
            {{ 'Click on an ECO code, and find a random game matching the search criteria'|trans }}.
          </div>
        </div>
        <form>
          <div class="row mb-4">
            <canvas id="winRateForWhiteChart"></canvas>
          </div>
          <div class="row mb-4">
            <canvas id="drawRateChart"></canvas>
          </div>
          <div class="row mb-4">
            <canvas id="winRateForBlackChart"></canvas>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
