<div class="modal fade" id="annotatedGamesModal" tabindex="-1" aria-labelledby="annotatedGamesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="annotatedGamesModalLabel">{{ 'Annotated Games'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="table-responsive">
            <table class="table table-light table-hover">
              <thead>
                <th>Event</th>
                <th>Round</th>
                <th>Year</th>
                <th>ECO</th>
                <th>White</th>
                <th>ELO</th>
                <th>Black</th>
                <th>ELO</th>
                <th>Result</th>
              </thead>
              <tbody role="button"></tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
