{% extends 'layout/fen.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-6">
    {% include 'partial/panel/fen.html.twig' %}
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/learn/classical/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
