{% extends 'layout/rav.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-6">
    {% include 'pages/learn/rav_movetext_modal.html.twig' %}
    {% include 'partial/panel/rav_panel.html.twig' %}
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/learn/rav_movetext/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
