{% extends 'layouts/content.html.twig' %}

{% block main %}
  <div class="container p-4">
    <h1 class="h3">{{ 'Register'|trans }}</h1>
    <hr class="hr">
    <div class="row">
      <div class="col-md-7">
        <p>
          Scan the QR code with a TOTP authenticator app supporting 9-digit length passwords like <a href="https://freeotp.github.io/" target="_blank">FreeOTP</a>.
        </p>
      </div>
      <div class="col-md-5">
        <img src={{ grCodeUri }}>
      </div>
    </div>
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/sign_in/register/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
