{% extends 'layouts/default.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-6">
    <ul class="nav nav-tabs" id="annotationsTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="add-annotations-tab" data-bs-toggle="tab" data-bs-target="#addAnnotationsTab" type="button" role="tab" aria-controls="addAnnotationsTab" aria-selected="true">
          {{ 'Add'|trans }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="learn-annotations-tab" data-bs-toggle="tab" data-bs-target="#learnAnnotationsTab" type="button" role="tab" aria-controls="learnAnnotationsTab" aria-selected="false">
          {{ 'Learn'|trans }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="browse-annotations-tab" data-bs-toggle="tab" data-bs-target="#browseAnnotationsTab" type="button" role="tab" aria-controls="browseAnnotationsTab" aria-selected="false">
          {{ 'Moves'|trans }}
        </button>
      </li>
    </ul>
    <div class="tab-content" id="annotationsTabsContent">
      <div class="tab-pane show active" id="addAnnotationsTab" role="tabpanel" aria-labelledby="add-annotations-tab">
        {% include 'pages/annotations/rav_form.html.twig' %}
      </div>
      <div class="tab-pane" id="learnAnnotationsTab" role="tabpanel" aria-labelledby="learn-annotations-tab">
        {% include 'pages/annotations/learn_form.html.twig' %}
      </div>
      <div class="tab-pane" id="browseAnnotationsTab" role="tabpanel" aria-labelledby="browse-annotations-tab">
        {% include 'partial/panel/rav_panel.html.twig' %}
      </div>
    </div>
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/annotations/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
