<form id="learnForm">
  <div class="table-responsive">
    <table class="table table-light table-hover">
      <thead>
        <th>Event</th>
        <th>Round</th>
        <th>Year</th>
        <th>ECO</th>
        <th>White</th>
        <th>ELO</th>
        <th>Black</th>
        <th>ELO</th>
        <th>Result</th>
      </thead>
      <tbody role="button"></tbody>
    </table>
  </div>
</form>
