{% extends 'base.html.twig' %}

{% block main %}
  <h1>About</h1>
  <h2>Open-Source Chess Lab</h2>
  <p class="lead">
    ChesslaBlab is an open-source organization on GitHub creating chess software.
  </p>
  <hr class="hr">
  <p>
    Chess is a perfect topic for learning full-stack web development as well as for playing around with machine learning libraries. ChesslaBlab stands for chess laboratory, and the repositories can be used and extended by developers to create amazing chess web apps. Happy coding!
  </p>
  <div class="container">
    <h3>Documentation</h3>
    <div class="row">
      <div class="col-md-6 g-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PHP Chess</h5>
            <p class="card-text">
              Object-oriented library that allows to create chess apps out-of-the-box.
            </p>
            <a href="https://php-chess.docs.chesslablab.org/" target="_blank" class="btn btn-secondary">
              <i class="bi bi-book-fill"></i> Read the documentation
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 g-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PHP Chess Server</h5>
            <p class="card-text">
              Asynchronous PHP server using the PHP Chess library.
            </p>
            <a href="https://chess-server.docs.chesslablab.org/" target="_blank" class="btn btn-secondary">
              <i class="bi bi-book-fill"></i> Read the documentation
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 g-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PHP Chess API</h5>
            <p class="card-text">
              REST-like API using the PHP Chess library, based on Symfony components.
            </p>
            <a href="https://chess-api.docs.chesslablab.org/" target="_blank" class="btn btn-secondary">
              <i class="bi bi-book-fill"></i> Read the documentation
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 g-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Chess Data</h5>
            <p class="card-text">
              MySQL chess database CLI tools and machine learning with Rubix ML.
            </p>
            <a href="https://chess-data.docs.chesslablab.org/" target="_blank" class="btn btn-secondary">
              <i class="bi bi-book-fill"></i> Read the documentation
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
