{% extends 'layouts/study.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-6">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="main-tab" data-bs-toggle="tab" data-bs-target="#main" type="button" role="tab" aria-controls="main" aria-selected="true">
          Main
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="add-tab" data-bs-toggle="tab" data-bs-target="#add" type="button" role="tab" aria-controls="add" aria-selected="false">
          Add
        </button>
      </li>
    </ul>
    <div class="tab-content" id="mainTabContent">
      <div class="tab-pane show active" id="main" role="tabpanel" aria-labelledby="main-tab">
        {% include 'partial/panel/san_panel.html.twig' %}
      </div>
      <div class="tab-pane" id="add" role="tabpanel" aria-labelledby="add-tab">
        {% include 'pages/learn/analysis/san_form.html.twig' %}
      </div>
    </div>
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/learn/analysis/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
