{% extends 'base.html.twig' %}

{% block main %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Chessboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Classical</li>
    </ol>
  </nav>
  <div class="col-md-6">
    <div id="board"></div>
  </div>
  <div class="col-md-6">
    <p>To Do</p>
  </div>
{% endblock %}
