{% extends 'base.html.twig' %}

{% block main %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Chessboard</li>
      <li class="breadcrumb-item active" aria-current="page">Classical</li>
    </ol>
  </nav>
  <div class="col-md-6">
    <div id="board"></div>
  </div>
  <div class="col-md-6">
    <div id="historyButtons" class="btn-group">
      <button class="btn btn-light" type="button"><<</button>
      <button class="btn btn-light" type="button"><</button>
      <button class="btn btn-light" type="button">></button>
      <button class="btn btn-light" type="button">>></button>
    </div>
    <table id="sanMovesTable" class="table">
      <tbody></tbody>
    </table>
    <table id="openingTable" class="table">
      <tbody></tbody>
    </table>
    <div id="startedButtons" class="btn-group">
      <button class="btn btn-light" type="button">Takeback</button>
    </div>
  </div>
  <script type="module" src="{{ asset('js/chessboard/classical/index.js') }}"></script>
{% endblock %}
