{% extends 'base/primary.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-6">
    {% include 'partial/common/san_panel.html.twig' %}
    <div id="startedButtons" class="btn-group">
      <button class="btn btn-light" type="button">Takeback</button>
    </div>
  </div>
  <script type="module" src="{{ asset('js/chessboard/fischer_random/index.js') }}"></script>
{% endblock %}
