{% extends 'base.html.twig' %}

{% block main %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Chessboard</li>
      <li class="breadcrumb-item active" aria-current="page">Fischer Random</li>
    </ol>
  </nav>
  <div class="col-md-6">
    <div id="board"></div>
  </div>
  <div class="col-md-6">
    <p>To Do</p>
  </div>
  <script type="module" src="{{ asset('js/chessboard/fischer_random/index.js') }}"></script>
{% endblock %}
