<div class="modal fade" id="searchGamesModal" tabindex="-1" aria-labelledby="searchGamesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchGamesModalLabel">Search Games</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-primary d-flex align-items-center" role="alert">
          <div>
            Click on the <b>Search</b> button, and find up to 25 random games
            matching the criteria on a database of thousands of games.
          </div>
        </div>
        <form>
          <div class="row">
            <div class="col-md-4 mb-3">
              <input type="text" name="Event" class="form-control" placeholder="Event">
              <ul class="suggestions"></ul>
            </div>
            <div class="col-md-4 mb-3">
              <input type="number" name="Date" class="form-control" placeholder="Year">
            </div>
            <div class="col-md-4 mb-3">
              <input type="text" name="ECO" placeholder="ECO code" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              <input type="text" name="White" class="form-control" placeholder="White">
              <ul class="suggestions"></ul>
            </div>
            <div class="col-md-4 mb-3">
              <input type="text" name="Black" class="form-control" placeholder="Black">
              <ul class="suggestions"></ul>
            </div>
            <div class="col-md-4 mb-3">
              <select name="Result" class="form-select" aria-label="Result" required>
                <option value="">Result</option>
                <option value="1-0">1-0</option>
                <option value="1/2-1/2">1/2-1/2</option>
                <option value="0-1">0-1</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <input type="text" name="movetext" placeholder="SAN Movetext" class="form-control">
            </div>
          </div>
          <button type="submit" class="btn btn-secondary w-100">Search</button>
          <table class="table table-light table-hover">
            <tbody></tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
