<div class="modal fade" id="topOpeningsModal" tabindex="-1" aria-labelledby="topOpeningsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="topOpeningsModalLabel">Top Openings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <canvas id="winRateForWhiteChart"></canvas>
          </div>
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
        </form>
      </div>
    </div>
  </div>
</div>
