routing_directory:
    resource: 'routing'
    type:     directory

# TOTP auth routes

totp_auth_signin:
    path:       /{_locale}/auth/signin
    controller: App\Controller\TotpAuthController::signin
    methods:    POST
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

totp_auth_signout:
    path:       /{_locale}/auth/signout
    controller: App\Controller\TotpAuthController::signout
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

# Setup routes

locale:
    path: /
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction
    defaults:
      path: /en
      permanent: true

sitemap:
    path:       /sitemap.xml
    controller: App\Controller\SitemapController::index
    methods:    GET

robots:
    path:       /robots.txt
    controller: App\Controller\RobotsController::index
    methods:    GET

# Pages routes

pages_games:
    path:       /{_locale}/games
    controller: App\Controller\Pages\GamesController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_edit:
    path:       /{_locale}/edit
    controller: App\Controller\Pages\EditController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_learn_analysis:
    path:       /{_locale}/learn/analysis
    controller: App\Controller\Pages\Learn\AnalysisController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_learn_annotated_games:
    path:       /{_locale}/learn/annotated-games
    controller: App\Controller\Pages\Learn\AnnotatedGamesController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_learn_rav_movetext:
    path:       /{_locale}/learn/rav-movetext
    controller: App\Controller\Pages\Learn\RavMovetextController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_openings_search:
    path:       /{_locale}/openings/search
    controller: App\Controller\Pages\Openings\SearchController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_openings_most_played:
    path:       /{_locale}/openings/most-played
    controller: App\Controller\Pages\Openings\MostPlayedController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_openings_by_player:
    path:       /{_locale}/openings/by-player
    controller: App\Controller\Pages\Openings\ByPlayerController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_openings_by_event:
    path:       /{_locale}/openings/by-event
    controller: App\Controller\Pages\Openings\ByEventController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_play_computer:
    path:       /{_locale}/play/computer
    controller: App\Controller\Pages\Play\ComputerController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_play_online:
    path:       /{_locale}/
    controller: App\Controller\Pages\Play\OnlineController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi
    options:
      sitemap:
        _locale: en|es|fr|ru|tr|de|hi

pages_players:
    path:       /{_locale}/players
    controller: App\Controller\Pages\PlayersController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_training_checkmate:
    path:       /{_locale}/training/checkmate
    controller: App\Controller\Pages\Training\CheckmateController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_training_endgame:
    path:       /{_locale}/training/endgame
    controller: App\Controller\Pages\Training\EndgameController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_settings:
    path:       /{_locale}/settings
    controller: App\Controller\Pages\Settings\SettingsController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_signin:
    path:       /{_locale}/signin
    controller: App\Controller\Pages\SignIn\SignInController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_signin_register:
    path:       /{_locale}/signin/register
    controller: App\Controller\Pages\SignIn\RegisterController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi

pages_about:
    path:       /{_locale}/about
    controller: App\Controller\Pages\AboutController::index
    methods:    GET
    requirements:
      _locale:  en|es|fr|ru|tr|de|hi
    options:
      sitemap:
        _locale: en

# Iframe routes

iframe_analysis:
    path:       /{_locale}/iframe/analysis/{variant}/{fen}/{movetext}/{startPos}
    controller: App\Controller\Iframes\AnalysisController::index
    methods:    GET
    requirements:
      fen: .+
      _locale:  en|es|fr|ru|tr|de|hi

iframe_annotations:
    path:       /{_locale}/iframe/annotations/{variant}/{fen}/{movetext}/{startPos}
    controller: App\Controller\Iframes\AnnotationsController::index
    methods:    GET
    requirements:
      fen: .+
      _locale:  en|es|fr|ru|tr|de|hi
