body {
  background-color: #dbdbdb;
}

.navbar-brand,
.navbar-brand:hover {
  color: #282828;
}

a.nav-link {
  color: #4d4d4d;
}

a.nav-link:hover {
  color: #202020;
}

a.nav-link.active {
  color: #000000 !important;
}

a.nav-link.show {
  color: #404040 !important;
}

button.navbar-toggler {
  background-color: #4d4d4d;
}

.the-content {
  background-color: #f8f9fa;
}

.the-content p a {
  color: #282828;
  font-weight: bold;
  text-decoration: none;
}

.the-content p a:hover {
  text-decoration: underline;
}

footer a {
  color: #4d4d4d;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
