body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  background-color: #262421;
}

label img {
  cursor: pointer;
}

table {
  margin-bottom: 0 !important;
}

footer {
  font-size: 0.85rem;
}

input[type="radio"] {
  visibility: hidden;
}

label[for="createGameModalColorRadioWhite"]:hover,
label[for="createGameModalColorRadioRandom"]:hover,
label[for="createGameModalColorRadioBlack"]:hover {
  background-color: #f5f5f5;
  border-radius: 4rem;
}

input:checked ~ label[for="createGameModalColorRadioWhite"],
input:checked ~ label[for="createGameModalColorRadioRandom"],
input:checked ~ label[for="createGameModalColorRadioBlack"] {
  background-color: #f0f0f0;
  border-radius: 4rem;
}

label[for="playComputerModalColorRadioWhite"]:hover,
label[for="playComputerModalColorRadioRandom"]:hover,
label[for="playComputerModalColorRadioBlack"]:hover {
  background-color: #f5f5f5;
  border-radius: 4rem;
}

input:checked ~ label[for="playComputerModalColorRadioWhite"],
input:checked ~ label[for="playComputerModalColorRadioRandom"],
input:checked ~ label[for="playComputerModalColorRadioBlack"] {
  background-color: #f0f0f0;
  border-radius: 4rem;
}

label[for="playFriendModalColorRadioWhite"]:hover,
label[for="playFriendModalColorRadioRandom"]:hover,
label[for="playFriendModalColorRadioBlack"]:hover {
  background-color: #f5f5f5;
  border-radius: 4rem;
}

input:checked ~ label[for="playFriendModalColorRadioWhite"],
input:checked ~ label[for="playFriendModalColorRadioRandom"],
input:checked ~ label[for="playFriendModalColorRadioBlack"] {
  background-color: #f0f0f0;
  border-radius: 4rem;
}

.table td {
  cursor: pointer;
}

.the-content {
  background-color: #282828;
}

.the-content a.link-light:hover {
  text-decoration: underline !important;
}

#startedButtons {
  margin-top: 1rem;
}

#ravMovesTable td:hover,
#sanMovesTable td:hover {
  cursor: pointer;
}

#ravMovesTable,
#sanMovesTable {
  width: 100%;
  display: table;
}

div.table-responsive:has(#ravMovesTable),
div.table-responsive:has(#sanMovesTable) {
  height: 465px;
  overflow-y: scroll;
}
