{% extends 'layout/study.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-4">
    {% include 'partial/panel/fen_panel.html.twig' %}
  </div>
  <div class="col-md-2">
    {% include 'partial/logos.html.twig' %}
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/learn/fischer_random/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
