<div id="historyButtons" class="btn-group w-100">
  <button class="btn btn-light rounded-0" type="button">
    <i class="bi bi-skip-backward-fill"></i>
  </button>
  <button class="btn btn-light" type="button">
    <i class="bi bi-skip-start-fill"></i>
  </button>
  <button class="btn btn-light" type="button">
    <i class="bi bi-skip-end-fill"></i>
  </button>
  <button class="btn btn-light rounded-0" type="button">
    <i class="bi bi-skip-forward-fill"></i>
  </button>
</div>
