<div class="modal fade" id="openingsSanMovetextModal" tabindex="-1" aria-labelledby="openingsSanMovetextModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openingsSanMovetextModalLabel">{{ 'SAN Movetext'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input type="text" name="movetext" placeholder="{{ 'Movetext'|trans }}" class="form-control" required>
          </div>
          <div>
            <button type="submit" class="btn btn-primary w-100">{{ 'Search'|trans }}</button>
          </div>
          <table class="table table-light table-hover mt-3 d-none">
            <tbody></tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
