<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <title>ChesslaBlab</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cm-chessboard@8.5.0/assets/chessboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cm-chessboard@8.5.0/assets/extensions/markers/markers.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cm-chessboard@8.5.0/assets/extensions/promotion-dialog/promotion-dialog.css">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('chessboard_classical') }}">ChesslaBlab</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownChessboardLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z"/>
                </svg> Chessboard
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownChessboardLink">
                <li><a class="dropdown-item" href="/chessboard/classical"><i class="bi bi-arrow-counterclockwise"></i> Classical</a></li>
                <li><a class="dropdown-item" href="/chessboard/fischer-random"><i class="bi bi-shuffle"></i> Fischer Random</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" href="#chessboardSanMovetextModal"><i class="bi bi-card-text"></i> SAN Movetext</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-diagram-3-fill"></i> RAV Movetext</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" href="#chessboardFenStringModal"><i class="bi bi-card-text"></i> FEN String</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPlayLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-laptop-fill"></i> Play
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownPlayLink">
                <li><a class="dropdown-item" href="#"><i class="bi bi-globe2"></i> Play Online</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-robot" viewBox="0 0 16 16">
                    <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5M3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.6 26.6 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.93.93 0 0 1-.765.935c-.845.147-2.34.346-4.235.346s-3.39-.2-4.235-.346A.93.93 0 0 1 3 9.219zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a25 25 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25 25 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135"/>
                    <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2zM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5"/>
                  </svg> Play Computer</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-person-fill"></i> Play a Friend</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-keyboard-fill"></i> Enter Invite Code</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDatabaseLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-database-fill" viewBox="0 0 16 16">
                  <path d="M3.904 1.777C4.978 1.289 6.427 1 8 1s3.022.289 4.096.777C13.125 2.245 14 2.993 14 4s-.875 1.755-1.904 2.223C11.022 6.711 9.573 7 8 7s-3.022-.289-4.096-.777C2.875 5.755 2 5.007 2 4s.875-1.755 1.904-2.223"/>
                  <path d="M2 6.161V7c0 1.007.875 1.755 1.904 2.223C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777C13.125 8.755 14 8.007 14 7v-.839c-.457.432-1.004.751-1.49.972C11.278 7.693 9.682 8 8 8s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"/>
                  <path d="M2 9.161V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13s3.022-.289 4.096-.777C13.125 11.755 14 11.007 14 10v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"/>
                  <path d="M2 12.161V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"/>
                </svg> Database
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownDatabaseLink">
                <li><a class="dropdown-item" href="#"><i class="bi bi-binoculars-fill"></i> Search Games</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-bar-chart-fill"></i> Top 50 Openings</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-bar-chart-fill"></i> Players Stats</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-bar-chart-fill"></i> Events Stats</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Annotated Games</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOpeningsLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-search"></i> Openings
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownOpeningsLink">
                <li><a class="dropdown-item" href="#"><i class="bi bi-bookmark-fill"></i> ECO Code</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-card-text"></i> SAN Movetext</a></li>
                <li>
                  <a class="dropdown-item" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alphabet" viewBox="0 0 16 16">
                    <path d="M2.204 11.078c.767 0 1.201-.356 1.406-.737h.059V11h1.216V7.519c0-1.314-.947-1.783-2.11-1.783C1.355 5.736.75 6.42.69 7.27h1.216c.064-.323.313-.552.84-.552s.864.249.864.771v.464H2.346C1.145 7.953.5 8.568.5 9.496c0 .977.693 1.582 1.704 1.582m.42-.947c-.44 0-.845-.235-.845-.718 0-.395.269-.684.84-.684h.991v.538c0 .503-.444.864-.986.864m5.593.937c1.216 0 1.948-.869 1.948-2.31v-.702c0-1.44-.727-2.305-1.929-2.305-.742 0-1.328.347-1.499.889h-.063V3.983h-1.29V11h1.27v-.791h.064c.21.532.776.86 1.499.86Zm-.43-1.025c-.66 0-1.113-.518-1.113-1.28V8.12c0-.825.42-1.343 1.098-1.343.684 0 1.075.518 1.075 1.416v.45c0 .888-.386 1.401-1.06 1.401Zm2.834-1.328c0 1.47.87 2.378 2.305 2.378 1.416 0 2.139-.777 2.158-1.763h-1.186c-.06.425-.313.732-.933.732-.66 0-1.05-.512-1.05-1.352v-.625c0-.81.371-1.328 1.045-1.328.635 0 .879.425.918.776h1.187c-.02-.986-.787-1.806-2.14-1.806-1.41 0-2.304.918-2.304 2.338z"/>
                  </svg> Name</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTrainingLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-magic" viewBox="0 0 16 16">
                  <path d="M9.5 2.672a.5.5 0 1 0 1 0V.843a.5.5 0 0 0-1 0zm4.5.035A.5.5 0 0 0 13.293 2L12 3.293a.5.5 0 1 0 .707.707zM7.293 4A.5.5 0 1 0 8 3.293L6.707 2A.5.5 0 0 0 6 2.707zm-.621 2.5a.5.5 0 1 0 0-1H4.843a.5.5 0 1 0 0 1zm8.485 0a.5.5 0 1 0 0-1h-1.829a.5.5 0 0 0 0 1zM13.293 10A.5.5 0 1 0 14 9.293L12.707 8a.5.5 0 1 0-.707.707zM9.5 11.157a.5.5 0 0 0 1 0V9.328a.5.5 0 0 0-1 0zm1.854-5.097a.5.5 0 0 0 0-.706l-.708-.708a.5.5 0 0 0-.707 0L8.646 5.94a.5.5 0 0 0 0 .707l.708.708a.5.5 0 0 0 .707 0l1.293-1.293Zm-3 3a.5.5 0 0 0 0-.706l-.708-.708a.5.5 0 0 0-.707 0L.646 13.94a.5.5 0 0 0 0 .707l.708.708a.5.5 0 0 0 .707 0z"/>
                </svg> Training
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownTrainingLink">
                <li><a class="dropdown-item" href="#"><i class="bi bi-puzzle-fill"></i> Endgame Skills</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-check-square-fill"></i> Checkmate Skills</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInboxLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-envelope-fill"></i> Inbox
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownInboxLink">
                <li><a class="dropdown-item" href="#"><i class="bi bi-inbox-fill"></i> Create Inbox</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-envelope-open-fill"></i> Read Inbox</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-gear-fill"></i> Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-question-circle-fill"></i> Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="chessboardSanMovetextModal" tabindex="-1" aria-labelledby="chessboardSanMovetextModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="chessboardSanMovetextModalLabel">SAN Movetext</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label class="form-label">Variant</label>
                <select class="form-select" aria-label="Select a variant" required>
                  <option value="">Select a variant</option>
                  <option value="1">Classical</option>
                  <option value="2">Fischer-Random</option>
                  <option value="3">Capablanca</option>
                  <option value="4">Capablanca-Fischer</option>
                </select>
              </div>
              <div class="mb-3">
                <div class="mb-3">
                  <label class="form-label">From position</label>
                  <select class="form-select" aria-label="From position" required>
                    <option value="">Select a position</option>
                    <option value="1">Start</option>
                    <option value="2">FEN</option>
                  </select>
                </div>
              </div>
              <div class="mb-3">
                <label for="movetextTextarea" class="form-label">Movetext</label>
                <textarea class="form-control" id="movetextTextarea" rows="3" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary w-100">Load</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="chessboardFenStringModal" tabindex="-1" aria-labelledby="chessboardFenStringModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="chessboardFenStringModalLabel">FEN String</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label class="form-label">Variant</label>
                <select class="form-select" aria-label="Select a variant" required>
                  <option value="">Select a variant</option>
                  <option value="1">Classical</option>
                  <option value="2">Fischer-Random</option>
                  <option value="3">Capablanca</option>
                  <option value="4">Capablanca-Fischer</option>
                </select>
              </div>
              <div class="mb-3">
                <div class="mb-3">
                  <label class="form-label">From FEN position</label>
                  <input type="text" class="form-control" required>
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-100">Load</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
       <div class="row mt-3">
         {% block main %}{% endblock %}
       </div>
    </div>
  </body>
</html>
