<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <title>ChesslaBlab</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cm-chessboard@8.5.0/assets/chessboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cm-chessboard@8.5.0/assets/extensions/markers/markers.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cm-chessboard@8.5.0/assets/extensions/promotion-dialog/promotion-dialog.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body>
    {% include 'nav.html.twig' %}
    <div class="container">
       <div class="row mt-3">
         {% block main %}{% endblock %}
       </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2024 ChesslaBlab</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="{{ path('footer_about') }}">About</a></li>
        <li class="list-inline-item"><a href="{{ path('footer_support') }}">Support</a></li>
      </ul>
    </footer>
  </body>
</html>
