{% extends 'layouts/default.html.twig' %}

{% block main %}
  <div class="the-page">
    <h1>{{ 'Register Now'|trans }}</h1>
    <hr class="hr">
    <div class="row">
      <div class="col-md-7">
        <ol>
          <li class="mb-2">{{ 'Scan the QR code with a TOTP authenticator supporting 9-digit length passwords like the following ones'|trans }}: <a href="https://freeotp.github.io/" target="_blank">FreeOTP</a>. {{ "You'll be assigned an automatic username"|trans }}.</li>
          <li>{{ 'Sign in to your account to complete the registration'|trans }}.</li>
        </ol>
      </div>
      <div id="qrCodeUri" class="col-md-5 text-center">
      </div>
    </div>
  </div>
{% endblock %}
