<div class="modal fade" id="playComputerModal" data-redirect="{{path('play_computer')}}" tabindex="-1" aria-labelledby="playComputerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playComputerModalLabel">Play Computer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label">Difficulty level</label>
            <input type="range" class="form-range" name="level" min="0" max="3" step="1" />
          </div>
          <div class="color row mb-3">
            {% include 'partial/color_radio_buttons.html.twig' %}
          </div>
          <div class="mb-3">
            <label class="form-label">From FEN</label>
            <input type="text" name="fen" placeholder="Enter FEN" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary w-100">Create Game</button>
        </form>
        <table class="table table-light table-hover">
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
