<div class="modal fade" id="drawModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="drawModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p>A draw is being offered.</p>
      </div>
      <div class="modal-body">
        <form>
          <button class="btn btn-secondary" data-bs-dismiss="modal">Accept</button>
          <button class="btn btn-secondary" data-bs-dismiss="modal">Decline</button>
        </form>
      </div>
    </div>
  </div>
</div>
