<div class="modal fade" id="playOnlineModal" tabindex="-1" aria-labelledby="playOnlineModalLabel" aria-hidden="true">
  <div class="modal-dialog">Computer
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playOnlineModalLabel">Play Online</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-hover mb-4">
          <thead class="text-center">
            <th colspan="5">Waiting for opponent</th>
          </thead>
          <tbody>
            <td class="text-center" colspan="5">There are currently no players on the waiting list.</td>
          </tbody>
        </table>
        <form>
          <div class="mb-3 text-center">
            <label class="form-label">Minutes per side</label>
            <input type="range" class="form-range" name="minutes" min="1" max="60" step="1" value="5">
          </div>
          <div class="mb-3 text-center">
            <label class="form-label">Increment in seconds</label>
            <input type="range" class="form-range" name="increment" min="0" max="60" step="1" value="3">
          </div>
          <div class="mb-3 d-flex justify-content-center">
            <div>
              <input type="radio" id="playOnlineModalColorRadioWhite" name="color" value="w">
              <label for="playOnlineModalColorRadioWhite"><img src="{{ asset('img/pieces/png/75/wKing.png') }}" alt="White"></label>
            </div>
            <div>
              <input type="radio" id="playOnlineModalColorRadioRandom" name="color" value="{{ random(['w', 'b']) }}" checked>
              <label for="playOnlineModalColorRadioRandom"><img src="{{ asset('img/pieces/png/75/wbKing.png') }}" alt="Random"></label>
            </div>
            <div>
              <input type="radio" id="playOnlineModalColorRadioBlack" name="color" value="b">
              <label for="playOnlineModalColorRadioBlack"><img src="{{ asset('img/pieces/png/75/bKing.png') }}" alt="Black"></label>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Variant</label>
            <select name="variant" class="form-select" aria-label="Select a variant" required>
              <option value="">Select a variant</option>
              <option value="classical">Classical</option>
              <option value="960">Fischer Random</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary w-100">Create Game</button>
        </form>
      </div>
    </div>
  </div>
</div>
