<div class="modal fade" id="resignModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="resignModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label">Chess game resigned.</label>
          </div>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </form>
      </div>
    </div>
  </div>
</div>
