<div class="modal fade" id="takebackModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="takebackModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playComputerModalLabel">A takeback is being proposed</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Decline</button>
        </form>
      </div>
    </div>
  </div>
</div>
