<div class="modal fade" id="takebackModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="takebackModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label">A takeback is being proposed.</label>
          </div>
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Accept</button>
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Decline</button>
        </form>
      </div>
    </div>
  </div>
</div>
