<div class="modal fade" id="waitingForPlayerToJoinModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="waitingForPlayerToJoinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form data-redirect="{{path('pages_chessboard_classical')}}">
          <div class="mb-3">
            <label class="form-label">Waiting for player to join...</label>
          </div>
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
