<div class="modal" id="explainPositionModal" tabindex="-1" aria-labelledby="explainPositionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="explainPositionModalLabel">{{ 'Explain Position'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
    </div>
  </div>
</div>
