<div class="p-2 bg-light">
  {% include 'partial/history_buttons.html.twig' %}
  {% include 'partial/san_moves_table.html.twig' %}
  {% include 'partial/opening_table.html.twig' %}
  <div class="d-flex">
    {% include 'partial/board_actions_dropdown.html.twig' %}
    {% include 'partial/game_study_dropdown.html.twig' %}
  </div>
  <div id="startedButtons" class="btn-group-vertical w-100 mt-2">
    <button class="btn btn-secondary btn-sm" type="button">Takeback</button>
  </div>
</div>
