<div id="fenPanel" class="p-2 bg-light">
  <div class="d-flex">
    {% include 'partial/panel/board_actions_dropdown.html.twig' %}
    <div id="gameActionsDropdown" class="dropdown">
      <button class="btn btn-light btn-sm w-100 rounded-0" type="button" id="gameActionsMenu" data-bs-toggle="dropdown" aria-expanded="false">
        {% include 'svg/list.svg' %} {{ 'Game'|trans }}
      </button>
      <ul class="dropdown-menu rounded-0" aria-labelledby="gameActionsMenu">
        <li>
          <a class="dropdown-item" href="#">
            {% include 'svg/arrow-left.svg' %} {{ 'Takeback'|trans }}
          </a>
        </li>
      </ul>
    </div>
    {% include 'partial/panel/game_study_dropdown.html.twig' %}
  </div>
  {% include 'partial/panel/history_buttons.html.twig' %}
  {% include 'partial/panel/opening_table.html.twig' %}
  {% include 'partial/panel/moves_browser.html.twig' %}
</div>
