<div class="modal fade" id="heuristicsModal" tabindex="-1" aria-labelledby="heuristicsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="heuristicsModalLabel">{{ 'Heuristic Charts'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-12 mb-3">
              <select name="heuristic" class="form-select" aria-label="Heuristic" required>
                <option value="">{{ 'Select an option'|trans }}</option>
              </select>
            </div>
          </div>
          <div id="chart"></div>
        </form>
      </div>
    </div>
  </div>
</div>
