<div class="modal" id="heuristicsModal" tabindex="-1" aria-labelledby="heuristicsModalLabel">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="heuristicsModalLabel">{{ 'Heuristic Charts'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-3">
              <select name="heuristic" class="form-select" aria-label="Heuristic" size="20" multiple>
              </select>
            </div>
            <div class="col-md-9" id="chart">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
