<div class="p-2 bg-light d-none">
  {% include 'partial/history_buttons.html.twig' %}
  {% include 'partial/san_moves_table.html.twig' %}
  <table id="timerTable" class="table">
    <tbody class="h4"></tbody>
  </table>
  <div class="d-flex">
    {% include 'partial/board_actions_dropdown.html.twig' %}
  </div>
  <div id="startedButtons" class="btn-group-vertical w-100 mt-2">
    <button class="btn btn-secondary btn-sm" type="button">Propose a takeback</button>
    <button class="btn btn-secondary btn-sm" type="button">Offer draw</button>
    <button class="btn btn-secondary btn-sm" type="button">Resign</button>
  </div>
  <div id="finishedButtons" class="btn-group-vertical w-100 mt-2 d-none">
    <button class="btn btn-secondary btn-sm" type="button">Offer rematch</button>
    <button class="btn btn-secondary btn-sm" type="button" data-redirect="{{ path('pages_play_online') }}">Play Online</button>
  </div>
</div>
