<div class="p-2 bg-light d-none">
  {% include 'partial/history_buttons.html.twig' %}
  {% include 'partial/moves_browser.html.twig' %}
  <table id="timerTable" class="table">
    <tbody class="h4"></tbody>
  </table>
  <div class="d-flex">
    {% include 'partial/board_actions_dropdown.html.twig' %}
    {% include 'partial/panel/play_game_actions_dropdown.html.twig' %}
  </div>
  <div id="finishedButtons" class="btn-group-vertical w-100 mt-2 d-none">
    <button class="btn btn-primary btn-sm" type="button">{{ 'Offer Rematch'|trans }}</button>
    <button class="btn btn-primary btn-sm" type="button" data-redirect="{{ path('pages_play_online') }}">{{ 'Play Online'|trans }}</button>
  </div>
</div>
