<div class="p-2 bg-light">
  <div class="d-flex">
    {% include 'partial/board_actions_dropdown.html.twig' %}
  </div>
  {% include 'partial/moves_metadata_table.html.twig' %}
  {% include 'partial/history_buttons.html.twig' %}
  {% include 'partial/rav_moves_table.html.twig' %}
</div>
