<div class="p-2 bg-light">
  {% include 'partial/moves_metadata_table.html.twig' %}
  {% include 'partial/history_buttons.html.twig' %}
  {% include 'partial/moves_browser.html.twig' %}
  <div class="d-flex">
    {% include 'partial/board_actions_dropdown.html.twig' %}
  </div>
</div>
