<div id="ravPanel" class="p-2 bg-light">
  <div class="d-flex">
    {% include 'partial/panel/board_actions_dropdown.html.twig' %}
  </div>
  {% include 'partial/panel/history_buttons.html.twig' %}
  {% include 'partial/panel/moves_metadata_table.html.twig' %}
  {% include 'partial/panel/moves_browser.html.twig' %}
</div>
