<div id="sanPanel" class="p-2 bg-light">
  <div class="d-flex">
    {% include 'partial/panel/board_actions_dropdown.html.twig' %}
    <div id="gameActionsDropdown" class="dropdown">
      <button class="btn btn-light btn-sm w-100 rounded-0" type="button" id="gameActionsMenu" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-list"></i> {{ 'Game'|trans }}
      </button>
      <ul class="dropdown-menu rounded-0" aria-labelledby="gameActionsMenu">
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-arrow-left"></i> {{ 'Takeback'|trans }}
          </a>
        </li>
      </ul>
    </div>
    {% include 'partial/panel/game_study_dropdown.html.twig' %}
  </div>
  {% include 'partial/panel/history_buttons.html.twig' %}
  {% include 'partial/panel/moves_metadata_table.html.twig' %}
  {% include 'partial/panel/opening_table.html.twig' %}
  {% include 'partial/panel/moves_browser.html.twig' %}
</div>
