<div class="modal" id="steinitzModal" tabindex="-1" aria-labelledby="steinitzModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="steinitzModalLabel">{{ 'Steinitz Evaluation'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="chart"></div>
      </div>
    </div>
  </div>
</div>
