<div class="p-2 bg-light">
  <div class="d-flex">
    {% include 'partial/board_actions_dropdown.html.twig' %}
    {% include 'partial/panel/stockfish_game_actions_dropdown.html.twig' %}
  </div>
  {% include 'partial/history_buttons.html.twig' %}
  {% include 'partial/opening_table.html.twig' %}
  {% include 'partial/moves_browser.html.twig' %}
</div>
