{% extends 'layouts/default.html.twig' %}

{% block main %}
  <div class="the-page">
    <h1>{{ 'Whoops'|trans }}</h1>
    <p class="lead">
      {{ message|trans }}.
    </p>
  </div>
{% endblock %}
