{% extends 'layouts/content.html.twig' %}

{% block main %}
  <div class="container p-4">
    <h1>{{ 'Whoops'|trans }}</h1>
    <p class="lead">
      {{ message|trans }}. {{ hint|trans }}.
    </p>
  </div>
{% endblock %}
