{% extends 'layouts/content.html.twig' %}

{% block main %}
  <div class="container p-4">
    <h1 class="h3">{{ 'Sign In'|trans }}</h1>
    <hr class="hr">
    <form id="signInForm">
      <div>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div class="mt-4">
          <button class="btn btn-primary">{{ 'Sign In'|trans }}</button>
          <button class="btn btn-secondary">{{ 'Register Now'|trans }}</button>
        </div>
      </div>
    </form>
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/sign_in/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
