<div class="p-2 bg-light">
  <div class="d-flex">
    {% include 'partial/common/board_actions_dropdown.html.twig' %}
  </div>
  {% include 'partial/common/history_buttons.html.twig' %}
  {% include 'partial/common/rav_moves_table.html.twig' %}
</div>
