<div class="modal fade" id="playComputerModal" tabindex="-1" aria-labelledby="playComputerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playComputerModalLabel">Play Computer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3 text-center">
            <label class="form-label">Difficulty level</label>
            <input type="range" class="form-range" name="level" min="0" max="3" step="1">
          </div>
          <div class="mb-3 d-flex justify-content-center">
            <div>
              <input type="radio" id="playComputerModalColorRadioWhite" name="color" value="w">
              <label for="playComputerModalColorRadioWhite"><img src="{{ asset('img/pieces/png/75/wKing.png') }}" alt="White"></label>
            </div>
            <div>
              <input type="radio" id="playComputerModalColorRadioRandom" name="color" value="{{ random(['w', 'b']) }}" checked>
              <label for="playComputerModalColorRadioRandom"><img src="{{ asset('img/pieces/png/75/wbKing.png') }}" alt="Random"></label>
            </div>
            <div>
              <input type="radio" id="playComputerModalColorRadioBlack" name="color" value="b">
              <label for="playComputerModalColorRadioBlack"><img src="{{ asset('img/pieces/png/75/bKing.png') }}" alt="Black"></label>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">From position</label>
            <input type="text" name="fen" placeholder="Enter a FEN" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Accept</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
