{% extends 'layout/stockfish.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-6">
    {% include 'pages/play/computer_modal.html.twig' %}
    {% include 'partial/common/panel/stockfish.html.twig' %}
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/play/computer/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
