<div class="modal fade" id="copyInviteCodeModal" tabindex="-1" aria-labelledby="copyInviteCodeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="copyInviteCodeModalLabel">Play a Friend</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label">Share this code with a friend</label>
            <input type="text" name="hash" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Copy and Play</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
