<div class="modal fade" id="enterInviteCodeModal" tabindex="-1" aria-labelledby="enterInviteCodeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enterInviteCodeModalLabel">Enter Invite Code</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label">Invite code</label>
            <input type="text" name="hash" placeholder="Enter invite code" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Play</button>
        </form>
      </div>
    </div>
  </div>
</div>
