{% extends 'layout/play.html.twig' %}

{% block main %}
  <div class="col-md-3">
    <div id="computerButtons" class="btn-group-vertical mb-2 w-100">
      <a class="btn btn-secondary" href="{{ path('pages_play_computer') }}" role="button">Play Computer</a>
    </div>
    <div id="friendButtons" class="btn-group-vertical mb-2 w-100">
      <button class="btn btn-secondary" type="button">Play a Friend</button>
      <button class="btn btn-secondary" type="button">Enter Invite Code</button>
    </div>
    <div id="onlineButtons" class="btn-group-vertical mb-2 w-100">
      <button class="btn btn-secondary" type="button">Play Online</button>
    </div>
    <table id="onlinePlayers" class="table table-hover">
      <tbody></tbody>
    </table>
  </div>
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-3">
    {% include 'partial/common/panel/play.html.twig' %}
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/play/online/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
