<div class="modal fade" id="onlinePlayersModal" tabindex="-1" aria-labelledby="onlinePlayersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="onlinePlayersModalLabel">Online Players</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-primary d-flex align-items-center d-none" role="alert">
          {% include 'svg/info-circle-fill.svg' %}
          <div>
            There are no players connected at the moment, be the first one to create a game!
          </div>
        </div>
        <div class="alert alert-primary d-flex align-items-center d-none" role="alert">
          {% include 'svg/info-circle-fill.svg' %}
          <div>
            Click an item in the list.
          </div>
        </div>
        <table class="rounded-3 table table-hover mb-3 d-none">
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
