{% extends 'layout/play.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-md-6">
    <div id="playerButtons" class="btn-group-vertical w-100 mb-3">
      <button class="btn btn-primary" type="button">Online Players</button>
      <button class="btn btn-primary" type="button">Create a Game</button>
    </div>
    <div id="friendButtons" class="btn-group-vertical w-100">
      <button class="btn btn-primary" type="button">Play a Friend</button>
      <button class="btn btn-primary" type="button">Enter Invite Code</button>
    </div>
    {% include 'pages/play/copy_invite_code_modal.html.twig' %}
    {% include 'pages/play/create_game_modal.html.twig' %}
    {% include 'pages/play/draw_modal.html.twig' %}
    {% include 'pages/play/enter_invite_code_modal.html.twig' %}
    {% include 'pages/play/friend_modal.html.twig' %}
    {% include 'pages/play/online_players_modal.html.twig' %}
    {% include 'pages/play/rematch_modal.html.twig' %}
    {% include 'pages/play/takeback_modal.html.twig' %}
    {% include 'partial/panel/play.html.twig' %}
  </div>
  {% block javascripts %}
    {% block importmap %}
      {{ importmap('js/pages/play/online/index.js') }}
    {% endblock %}
  {% endblock %}
{% endblock %}
