<div class="col-md-4">
  <input type="radio" id="colorRadioWhite" name="color" value="w">
  <label for="colorRadioWhite"><img src="{{ asset('img/pieces/png/150/wKing.png') }}" alt="White"></label>
</div>
<div class="col-md-4">
  <input type="radio" id="colorRadioRandom" name="color" value="{{ random(['w', 'b']) }}">
  <label for="colorRadioRandom"><img src="{{ asset('img/pieces/png/150/wbKing.png') }}" alt="Random"></label>
</div>
<div class="col-md-4">
  <input type="radio" id="colorRadioBlack" name="color" value="b">
  <label for="colorRadioBlack"><img src="{{ asset('img/pieces/png/150/bKing.png') }}" alt="Black"></label>
</div>
