<footer class="mt-4 text-muted text-center text-small">
  <ul class="list-inline">
    <li class="list-inline-item"><a href="{{ path('pages_about') }}" class="link-light link-underline-opacity-0">About</a></li>
    <li class="list-inline-item"><a href="{{ path('pages_support') }}" class="link-light link-underline-opacity-0">Support</a></li>
    <li class="list-inline-item"><a href="{{ path('pages_legal') }}" class="link-light link-underline-opacity-0">Legal Notice</a></li>
  </ul>
</footer>
