<footer class="mt-4 text-muted text-center text-small">
  <ul class="list-inline">
    <li class="list-inline-item"><a href="{{ path('pages_about', {_locale:'en'}) }}" class="link-underline-opacity-0"><i class="bi bi-file-person-fill"></i> {{ 'About'|trans }}</a></li>
    <li class="list-inline-item"><a href="https://github.com/chesslablab" target="_blank" class="link-underline-opacity-0"><i class="bi bi-github"></i> GitHub</a></li>
    <li class="list-inline-item"><a href="{{ path('pages_console') }}" target="_blank" class="link-underline-opacity-0"><i class="bi bi-terminal-fill"></i> {{ 'Console'|trans }}</a></li>
  </ul>
</footer>
