<footer class="mt-4 text-muted text-center text-small">
  <ul class="list-inline">
    <li class="list-inline-item"><a href="{{ path('pages_about', {_locale:'en'}) }}" class="link-underline-opacity-0">{{ 'About'|trans }}</a></li>
  </ul>
</footer>
