<div id="gameStudyDropdown" class="dropdown">
  <button class="btn btn-light dropdown-toggle w-100 rounded-0" type="button" id="gameStudyMenu" data-bs-toggle="dropdown" aria-expanded="false">
    Game Study
  </button>
  <ul class="dropdown-menu rounded-0" aria-labelledby="gameStudyMenu">
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-image"></i> Download Image
      </a>
    </li>
  </ul>
</div>
