<div id="gameActionsDropdown" class="dropdown">
  <button class="btn btn-light dropdown-toggle w-100 rounded-0" type="button" id="gameActionsMenu" data-bs-toggle="dropdown" aria-expanded="false">
    Game Actions
  </button>
  <ul class="dropdown-menu rounded-0" aria-labelledby="gameActionsMenu">
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-arrow-repeat"></i> Flip Board
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-card-text"></i> Copy Movetext
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-input-cursor"></i> Copy FEN
      </a>
    </li>
  </ul>
</div>
