<div id="gameActions" class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="gameActionsMenu" data-bs-toggle="dropdown" aria-expanded="false">
    Game Actions
  </button>
  <ul class="dropdown-menu" aria-labelledby="gameActionsMenu">
    <li><a class="dropdown-item" href="#">Flip Board</a></li>
    <li><a class="dropdown-item" href="#">Copy Movetext</a></li>
    <li><a class="dropdown-item" href="#">Copy FEN</a></li>
    <li><a class="dropdown-item" href="#">Heuristics</a></li>
    <li><a class="dropdown-item" href="#">Download Image</a></li>
    <li><a class="dropdown-item" href="#">Download Video</a></li>
  </ul>
</div>
