<div class="modal fade" id="heuristicsModal" tabindex="-1" aria-labelledby="heuristicsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="heuristicsModalLabel">Heuristic Charts</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div id="charts" class="row mb-3 d-none"></div>
          <div>
            <button type="submit" class="btn btn-primary w-100" data-bs-dismiss="modal">OK, I'm Happy</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
