<div class="modal fade" id="infoModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header p-0 border-0 d-block">
        <div class="alert alert-light d-flex align-items-center m-0" role="alert">
          <i class="bi bi-info-circle-fill"></i>
          <div class="message"></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>
</div>
