<div class="modal fade" id="infoModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="alert alert-light d-flex align-items-center" role="alert">
            {% include 'svg/info-circle-fill.svg' %}
            <div class="message"></div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary w-100" data-bs-dismiss="modal">Accept</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
