<div id="logos">
  <a class="btn btn-secondary btn-sm" href="{{ path('pages_support', {_locale:'en'}) }}" role="button">
    {{ 'ChesslaBlab is a community driven project funded by supporters like you'|trans }}. {{ "Let's do this"|trans }}.
  </a>
</div>
