<div id="logos">
  <a class="btn btn-secondary btn-sm" href="{{ path('pages_support', {_locale:'en'}) }}" role="button">
    {{ 'Support us by placing your logo right here as long as it is aligned with our core values'|trans }}
  </a>
</div>
