<table id="rankingTable" class="table table-sm table-borderless small">
  <thead>
    <tr>
      <th colspan="2" class="text-center">
        {% include 'svg/trophy-fill.svg' %} {{ 'Top Players'|trans }}
      </th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
