<table id="rankingTable" class="table table-sm table-borderless small">
  <thead>
    <tr>
      <th colspan="2" class="text-center">
        <i class="bi bi-trophy-fill"></i> {{ 'Top Players'|trans }}
      </th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
