<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalLabel">{{ 'Settings'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-light d-flex align-items-center" role="alert">
          {% include 'svg/info-circle-fill.svg' %}
          <div>
            {{ 'Soon available! Please be patient'|trans }}.
          </div>
        </div>
        <form>
          <div>
            <button type="submit" class="btn btn-primary w-100">{{ 'Save Changes'|trans }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
