<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin">
    <title>ChesslaBlab Online Chess</title>
    <meta name="description" content="ChesslaBlab is an open-source organization on GitHub creating chess apps. A bunch of public repos ranging from React and JavaScript to PHP are available on it.">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cm-chessboard@8.5.0/assets/chessboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cm-chessboard@8.5.0/assets/extensions/markers/markers.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cm-chessboard@8.5.0/assets/extensions/promotion-dialog/promotion-dialog.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    {% include 'partial/nav.html.twig' %}
    <div class="container">
       <div class="row g-3">
         {% block main %}{% endblock %}
       </div>
    </div>
    {% include 'partial/footer.html.twig' %}
    <script type="module" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
