<div class="modal fade" id="copyInviteCodeModal" tabindex="-1" aria-labelledby="copyInviteCodeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="copyInviteCodeModalLabel">{{ 'Play a Friend'|trans }}</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <div class="alert alert-light d-flex align-items-center" role="alert">
              {% include 'svg/info-circle-fill.svg' %}
              <div class="message">
                {{ 'Share this code with a friend'|trans }}.
              </div>
            </div>
            <input type="text" name="uid" class="form-control">
          </div>
          <div>
            <button type="submit" class="btn btn-primary w-100">{{ 'Copy and Play'|trans }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
