{% extends 'layout/index.html.twig' %}

{% block main %}
  <div class="col-md-12">
    <table id="onlinePlayers" class="table table-hover mb-4">
      <thead class="text-center">
        <th colspan="5">Players waiting for an opponent to be matched</th>
      </thead>
      <tbody>
        <td class="text-center" colspan="5">There are currently no players.</td>
      </tbody>
    </table>
  </div>
  <script type="module" src="{{ asset('js/pages/play/online/index.js') }}"></script>
{% endblock %}
