<div class="modal fade" id="takebackModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div class="alert alert-light d-flex align-items-center" role="alert">
        <i class="bi bi-info-circle-fill"></i>
        <div class="message">
          {{ 'Would you like a takeback?'|trans }}
        </div>
      </div>
      <form>
        <button class="btn btn-primary" data-bs-dismiss="modal">{{ 'Accept'|trans }}</button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Decline'|trans }}</button>
      </form>
    </div>
  </div>
</div>
</div>
