<div class="modal fade" id="openingsEcoCodeModal" tabindex="-1" aria-labelledby="openingsEcoCodeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openingsEcoCodeModalLabel">ECO Code</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div>
            <select name="eco" class="form-select" aria-label="{{ 'Select a variant'|trans }}" required>
              <option value="">Select an ECO code</option>
              <option value="A">A: Flank Openings</option>
              <option value="B">B: Semi-Open Games other than the French Defense</option>
              <option value="C">C: Open Games and the French Defense</option>
              <option value="D">D: Closed Games and Semi-Closed Games</option>
              <option value="E">E: Indian Defenses</option>
            </select>
          </div>
          <table class="table table-light table-hover mt-3 d-none">
            <tbody></tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
