{% extends 'layout/san.html.twig' %}

{% block main %}
  <div class="col-md-6">
    <div id="chessboard" class="mb-2"></div>
  </div>
  <div class="col-md-6">
    {% include 'partial/common/panel/san.html.twig' %}
  </div>
  <script type="module" src="{{ asset('js/pages/openings/san_movetext/index.js') }}"></script>
{% endblock %}
